{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/matrix-style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/matrix-media.css' %}"/>
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/jquery.gritter.css' %}"/>
    <link href="{% static 'css/google.css' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

<!--Header-part-->
<div id="header">
    <h1><a href="#" style="background: url({% static 'img/logo.png' %}) no-repeat scroll 0 0 transparent;">教师管理系统</a>
    </h1>
</div>
<!--close-Header-part-->


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li class="" id="profile-messages"><a title="" href="{% url 'detail' %}"><i
                class="icon icon-user"></i> <span class="text">欢迎 &nbsp;{{ myuser.name }}</span></a>
        </li>
        <li class="" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages"
                                           class="dropdown-toggle"><i class="icon icon-envelope"></i> <span
                class="text">通知</span> <span class="label label-important">5</span> <b class="caret"></b></a>
            {% if myuser.identity == 1 %}
                <ul class="dropdown-menu">
                    <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i>教师信息更新</a></li>
                    <li class="divider"></li>
                    <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i>预约进度更新</a></li>
                    <li class="divider"></li>
                </ul>
            {% else %}
                <ul class="dropdown-menu">
                    <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i>预约信息</a></li>
                    <li class="divider"></li>
                </ul>
            {% endif %}
        </li>
        <li class=""><a href="{% url 'logout' %}"><i class="icon icon-share-alt"></i> <span
                class="text">登出</span></a>
        </li>
    </ul>
</div>
<!--close-top-Header-menu-->

<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
    <ul>
        <li id="index"><a href="{% url 'index' %}"><i class="icon icon-home"></i> <span>首页</span></a></li>
        <li id="list"><a href=""><i class="icon icon-signal"></i><span>教师列表</span></a></li>
        <li id="history"><a href=""><i class="icon icon-inbox"></i> <span>查看当前预约</span></a></li>
        <li id="detail"><a href=""><i class="icon icon-th"></i> <span>个人资料</span></a></li>
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>友情链接</span></a>
            <ul>
                <li><a href="">友链1</a></li>
                <li><a href="">友链2</a></li>
                <li><a href="">友链3</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">

    {% block content %}


    {% endblock %}

    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"> 2016 &copy; HIT Boating without Oars All rights reserved</div>
    </div>
    <!--end-Footer-part-->

    <script src="{% static 'js/excanvas.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.ui.custom.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.flot.min.js' %}"></script>
    <script src="{% static 'js/jquery.flot.resize.min.js' %}"></script>
    <script src="{% static 'js/jquery.peity.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/matrix.js' %}"></script>
    <script src="{% static 'js/matrix.dashboard.js' %}"></script>
    <script src="{% static 'js/jquery.gritter.min.js' %}"></script>
    <script src="{% static 'js/matrix.interface.js' %}"></script>
    <script src="{% static 'js/matrix.chat.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/matrix.form_validation.js' %}"></script>
    <script src="{% static 'js/jquery.wizard.js' %}"></script>
    <script src="{% static 'js/jquery.wizard.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/matrix.popover.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/matrix.tables.js' %}"></script>

    <script>
        $('#{{ active }}').addClass('active');
    </script>

    <script type="text/javascript">
        // This function is called from the pop-up menus to transfer to
        // a different page. Ignore if the value returned is a null string:
        function goPage(newURL) {

            // if url is empty, skip the menu dividers and reset the menu selection to default
            if (newURL != "") {

                // if url is "-", it is this page -- reset the menu:
                if (newURL == "-") {
                    resetMenu();
                }
                // else, send page to designated URL
                else {
                    document.location.href = newURL;
                }
            }
        }

        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }
    </script>
</div>
</body>
</html>
