{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title %}首页{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row-fluid">
            <div class="jumbotron index-jumb">
                <h1>教师预约系统</h1>
                <h4>Hi, Hiters！</h4>
                <h4>欢迎来到师生管理系统</h4>
            </div>
        </div>

        <div class="row-fluid index-post">
            <div class="span4 ">
                <div class="widget-box">
                    <div class="widget-title bg_ly">
                        <h5>使用说明</h5>
                    </div>

                    <div class="widget-content nopadding" id="collapseG2">
                        <ul class="recent-posts">
                            <li>
                                <div class="article-post">
                                    <h4>这是一个还在上新功能的网站</h4>
                                    <h5>欢迎持续关注我们，我们还会不断上新功能</h5>
                                </div>
                            </li>
                            <li>
                                <div class="article-post">
                                    <h4>您现在可以进行个人信息的更改</h4>
                                    <h5>点击左侧导航栏可以进行更多正在开发功能的尝试</h5>
                                </div>
                            </li>
                            <li>
                                <div class="article-post">
                                    <h4>程序猿与攻城狮</h4>
                                    <h5>HIT
                                        <h5 style="font-weight: lighter;display: inline"><a
                                                href="http://github.com/catying">陈劢</a>&nbsp;</h5>
                                        <h5 style="font-weight: lighter;display: inline"><a
                                                href="http://github.com/yoliacao">曹鹤梅</a>&nbsp;</h5>
                                        <h5 style="font-weight: lighter;display: inline"><a href="#">郑天航</a>&nbsp;</h5>
                                        <h5 style="font-weight: lighter;display: inline"><a href="#">赵子锋</a>&nbsp;</h5>
                                    </h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="span4">

            </div>


        </div>
    </div>

{% endblock %}