{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title %}教师列表{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                        <h5>教师列表</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>邮箱</th>
                                <th>手机</th>
                                <th>办公地点</th>
                                <th>查看详情</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for teacher in teacher_list %}
                                <tr class="odd gradeX">
                                    <td>{{ teacher.name }}</td>
                                    <td>{{ teacher.teacherinfo.e_mail }}</td>
                                    <td>{{ teacher.teacherinfo.cellphone }}</td>
                                    <td>{{ teacher.teacherinfo.address }}</td>
                                    <td><a href="{% url 'myuser-detail' teacher.pk %}">查看详情</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="span6">

                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>搜索</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form method="get" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">姓名：</label>
                                <div class="controls">
                                    <input type="text" class="span11" placeholder="教师姓名" name="name"/>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}