{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title %}预约列表{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="widget-box">
                <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                    <h5>教师列表</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>预约学生</th>
                            <th>年级</th>
                            <th>学院</th>
                            <th>邮箱</th>
                            <th>预约时间</th>
                            <th>回应</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for appointment in app_list %}
                            <tr class="odd gradeX">
                                <td>
                                    <a href="{% url 'myuser-detail' appointment.student.pk %}">{{ appointment.student.name }}</a>
                                </td>
                                <td>{{ appointment.student.studentinfo.grade }}</td>
                                <td>{{ appointment.student.studentinfo.college }}</td>
                                <td>{{ appointment.student.studentinfo.e_mail }}</td>
                                <td>{{ appointment.teacher_period }}</td>
                                {% if appointment.result == -1 %}
                                    <td><a href="?pk={{ appointment.pk }}&reply=1">同意</a>&nbsp;<a href="?pk={{ appointment.pk }}&reply=0">拒绝</a></td>
                                {% elif appointment.result == 1 %}
                                    <td>已同意</td>
                                {% elif appointment.result == 0 %}
                                    <td>已拒绝</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}