{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title %}个人信息{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-briefcase"></i> </span>
                        <h5>用户信息</h5>
                    </div>
                    {% if myuser.identity == 1 %}
                    <div class="widget-content">
                        <div class="row-fluid">
                            <div class="span6">
                                <table class="">
                                    <tbody>
                                    <tr>
                                        <td><h4>{{ myuser.name }}</h4></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5 style="font-weight: 400;">{{ myuser.studentinfo.college }}&nbsp;{{ myuser.studentinfo.grade }}
                                                级</h5></td>
                                    </tr>
                                    <tr>
                                        <td><h5 style="font-weight: 400;">电话：{{ myuser.studentinfo.cellphone }}</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h5 style="font-weight: 400;">邮箱：{{ myuser.studentinfo.e_mail }}</h5>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="span6">
                                <table class="">
                                    <tbody>
                                    <tr>
                                        <td><h4>个人简介</h4></td>
                                    </tr>
                                    <tr>
                                        <td><h5 style="font-weight: 400;">{{ myuser.studentinfo.description }}</h5>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="pull-right">
                                    <br>
                                    <a class="btn btn-primary btn-large pull-right"
                                       href="{% url 'stu_update' %}">更改个人信息</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% elif myuser.identity == 2 %}
                    <div class="widget-content">
                        <div class="row-fluid">
                            <div class="span6">
                                <table class="">
                                    <tbody>
                                    <tr>
                                        <td><h4>{{ myuser.name }}</h4></td>
                                    </tr>

                                    <tr>
                                        <td><h5 style="font-weight: 400;">电话：{{ myuser.teacherinfo.cellphone }}</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h5 style="font-weight: 400;">邮箱：{{ myuser.teacherinfo.e_mail }}</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h5 style="font-weight: 400;">办公地点：{{ myuser.teacherinfo.address }}</h5>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="span6">
                                <table class="">
                                    <tbody>
                                    <tr>
                                        <td><h4>个人简介</h4></td>
                                    </tr>
                                    <tr>
                                        <td><h5 style="font-weight: 400;">{{ myuser.teacherinfo.description }}</h5>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="pull-right">
                                    <br>
                                    <a class="btn btn-primary btn-large pull-right"
                                       href="{% url 'tea_update' %}">更改个人信息</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}