{% load staticfiles %}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flat-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/jquery.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/flat-ui.js' %}">
    <title>个人信息</title>
</head>
<body>

<style>
      body {
        min-height: 2000px;
        padding-top: 70px;
      }
    </style>

<!-- Static navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">师生管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}">首页</a></li>
                <li><a href="">教师列表</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">通知</a></li>
                <li><a href="">当前身份：学生</a></li>
                <li><a href="">{{ myuser }}</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<p>姓名 {{ myuser }}</p>
<p>学号 {{ user.studentinfo.student_id }}</p>
<p>邮箱 {{ user.studentinfo.e_mail }}</p>
<p>电话 {{ user.studentinfo.cellphone }}</p>
<p>学院 {{ user.studentinfo.college }}</p>
<p>年级 {{ user.studentinfo.grade }}</p>
<p>自我介绍 {{ user.studentinfo.description }}</p>


</body>
</html>