{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>登录</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/matrix-login.css' %}"/>
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/google.css' %}" rel='stylesheet' type='text/css'>

</head>
<body>
<div id="loginbox">
    <form id="loginform" class="form-vertical" method="POST">
        {% csrf_token %}
        <div class="control-group normal_text"><h3 class="text-center">User Login</h3></div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text"
                                                                                      placeholder="Username"
                                                                                      name="username"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password"
                                                                                      placeholder="Password"
                                                                                      name="password"/>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <span class="pull-left"> <a href="{% url 'register' %}" class="btn btn-danger">注册</a></span>
            <span class="pull-right"> <button type="submit" class="btn btn-success">Login</button></span>
        </div>
    </form>

</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/matrix.login.js' %}"></script>
</body>

</html>
